//必须有 form ，故要特殊处理样式
.o_form_view.o_form_nosheet.o_form_address_chinese, .o_form_view .o_form_nosheet.o_form_address_chinese {
    padding: 0 0 0 0;
}
.o_form_view .o_address_format.o_address_chinese {
  .o_address_country {
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 38%;
    margin-right: 2%;
  }
}
.o_form_view .o_address_format.o_address_chinese {
  .o_address_country {
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 38%;
    margin-right: 2%;
  }
}

.o_form_view .o_form_editable .o_address_format.o_address_chinese {
  .o_address_zip{
    width: 38%;
    margin-right: 2%;
  }
  .o_address_state {
    width: 38%;
    margin-right: 2%;
  }
  .o_address_city{
    width: 38%;
    margin-right: 2%;
  }
  .o_address_city_id{
    width: 38%;
    margin-right: 2%;
  }
}
