//输入焦点时有颜色
.o_web_client input:focus,
.o_web_client textarea:focus,
.o_web_client select:focus {
  border-color: $o-brand-primary;
  font-weight: bold;
}
//看板
.o_kanban_view .o_kanban_group:not(.o_column_folded)  {
  width: $o-kanban-default-record-width;
}
//workcenter看板特殊
.o_kanban_view.o_workcenter_kanban .o_kanban_group:not(.o_column_folded)  {
  width: 400px + 2*$o-kanban-group-padding;
}
//菜单搜索常见
.o_menu_search {
    &.o_bar_hidden {
        opacity: 0.9;
    }
}
//主菜单加箭头
.dropdown-menu .dropdown-header {
  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}
// Notebooks ,form_view,移动端优化
.o_form_view {
  .o_notebook {
    > .nav.nav-tabs {
      > .nav-item {
        > .nav-link {
          //border-left-width: 0!important;
          background-color: #fafafa;
          &:hover, &:focus, &:active {
            background-color: white;
          }
          &.active {
            border-top-width: 2px;
            //border-left-width: 1px!important;
            //border-right-width: 1px!important;
          }
        }
        &:first-child > .nav-link {
          //border-left-width: 1px!important;
        }
      }
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "\/";
}