//list 改标头背景
.o_list_renderer {
  .o_list_table {
    :not(.o_field_x2many_list) > & thead, tfoot {
      tr > :not(:empty) {
        padding-top: var(--ListRenderer-thead-padding-v);
        padding-bottom: var(--ListRenderer-thead-padding-v);
        background-color: $o-gray-100;
      }
    }
  }
}
// 上方菜单下拉，group 也有箭头
.o_main_navbar {
  .o-dropdown {
    .dropdown-menu_group.dropdown-header::after {
      display: inline-block;
      margin-left: 3.4px;
      vertical-align: 3.4px;
      content: "";
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-bottom: 0;
      border-left: 4px solid transparent;
    }
  }
}