//xs: 0,
//vsm: 475px,
//sm: 576px,
//md: 768px,
//lg: 992px,
//xl: 1200px,
//xxl: 1534px,

//16 是在 xxl 才 flex row，故不需要再特殊处理了

/*
sheet全宽
*/
@media (min-width: 576px) {
  .o_form_view .o_form_view_container .o_form_sheet_bg .o_form_sheet {
    max-width: 98%;
  }
}

@media (min-width: 768px) {
  .o_form_view .o_form_view_container .o_form_sheet_bg .o_form_sheet {
    max-width: 98%;
  }
}

@media (min-width: 992px) {
  .o_form_view .o_form_view_container .o_form_sheet_bg .o_form_sheet {
    max-width: 98%;
  }
}

@media (min-width: 1200px) {
  .o_form_view .o_form_view_container .o_form_sheet_bg .o_form_sheet {
    max-width: 98%;
  }
}

@media (min-width: 1400px) {
  .o_form_view .o_form_view_container .o_form_sheet_bg .o_form_sheet {
    max-width: 98%;
    //todo: button box 增加数量，当前无效。 button_box.js 中有 visibleButtons
    //.o-form-buttonbox .btn.oe_stat_button, .o-form-buttonbox > .o_field_widget  {
    //  width: 10%;
    //}
  }
}
.o_web_client .o_form_view.o_xxl_form_view .o_form_sheet_bg > .o_form_sheet {
  max-width: 98%;
}

//xs: 0,
//vsm: 475px,
//sm: 576px,
//md: 768px,
//lg: 992px,
//xl: 1200px,
//xxl: 1534px,

//debug model 时处理
.modal-lg {
    .o_debug_manager {
        .dropdown-menu-right {
            right: auto;
            left: 0;
        }
    }
}