.tree_search_item {
    cursor: pointer;
}

.tree_search_item .selected a:before {
    font-family: FontAwesome;
    position: absolute;
    left: 6px;
    top: 3px;
    content: "";
}

/*
list标头不换行
*/
.table-responsive {
    white-space: nowrap !important;
}

/*
sheet全宽
*/
.o_form_view .o_form_sheet_bg .o_form_sheet {
    max-width: 98% !important;
}

/*
强制表格滚动，企业版/社区版中生效
*/

.force_scroll .table-responsive {
    white-space: nowrap !important;
    overflow: hidden !important;
    overflow-x: auto !important;
}

.force_scroll ::-webkit-scrollbar {
    height: 16px !important;
}

/* 滚动条的滑轨背景颜色 */
.force_scroll ::-webkit-scrollbar-track {
    background-color: lightgrey !important;
    -webkit-border-radius: 2em !important;
    -moz-border-radius: 2em !important;
    border-radius: 2em !important;
}

/* 滑块颜色 */
.force_scroll ::-webkit-scrollbar-thumb {
    background-color: #666666 !important;
    -webkit-border-radius: 2em !important;
    -moz-border-radius: 2em !important;
    border-radius: 2em !important;
}

/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
.force_scroll ::-webkit-scrollbar-corner {
    background-color: black;
}