.o_user_menu  .dropdown-menu  img {
    height: 20px;
    margin: 2px;
}
.align_upgrade_uninstall{
    float: right !important;
    vertical-align: bottom;
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin-right: 0;
}
