$o-chart-hierarchy-bg: white !default;
$o-chart-hierarchy-border-color: $o-brand-secondary !default;

$o-chart-hierarchy-entry-v-gap: 6px !default;
$o-chart-hierarchy-entry-pic-size: 46px !default;
$o-chart-hierarchy-entry-line-w: 1px !default;
$o-chart-hierarchy-entry-border-color: darken($o-chart-hierarchy-bg, 25%) !default;

// MIXINS
@mixin o-chart-hierarchy-line {
    content: '';
    background-color: $o-chart-hierarchy-bg;
    border: 0px solid $o-chart-hierarchy-entry-border-color;
}
